.header {
  background-color:rgba(34,49,52,0.9);
  hight: 65px;
} 

.container {
  width: 1170px;
  
}

.headr-left {
  width: 124px;
  padding: 0 25px;
  color: white;
}

.header-right:hover {
  transition: all 0.5s;
  background-color: rgba(255,255,255,0.5);
}  
